{% load static %}

<footer>
    <div class="container-fluid pt-5 pb-2">
        <div>
            <a href="{% url 'main' %}#header">
                <p class="text-center"><img src="{% static 'images/main_logo.png' %}"></p>
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a href="{% url 'main' %}#header">Главная</a>
            </div>
            <div class="m-3">
                <a href="{% url 'main' %}#effect">Влияние флоатинга</a>
            </div>
            <div class="m-3">
                <a href="{% url 'main' %}#how-it-works">Как это работает?</a>
            </div>
            <div class="m-3">
                <a href="{% url 'prices' %}">Цены</a>
            </div>
            <div class="m-3">
                <a href="{% url 'main' %}#contacts">Контакты</a>
            </div>
        </div>
        <div class="text-center pt-3">
            Copyright © 2022 Мистер Мозг Флоатинг
        </div>
    </div>
</footer>