{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Главная
{% endblock title %}

{% block content %}

<main class="main_page">
    <div id="title" class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-center">Floating центр</h1>
                <h2 class="text-center">Мистер Мозг</h2>
                <h3 class="text-center">Впервые на КМВ</h3>
            </div>
        </div>
    </div>

    <div id="main_info" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 order-2 order-md-1 py-5">
                    {% for info in info1 %}
                    <div>
                        <h5><i class="{{ info.icon }}"></i> {{ info.title }}</h5>
                        <p>{{ info.text }}</p>
                    </div>
                    <br>
                    {% endfor %}
                </div>
                <div class="col-12 col-md-4 order-1 order-md-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <span>Расслабление в невесомости</span>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-3 py-5">
                    {% for info in info2 %}
                    <div>
                        <h5><i class="{{ info.icon }}"></i> {{ info.title }}</h5>
                        <p>{{ info.text }}</p>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="yoga"></div>

    <div id="price" class="container-fluid mt-5">
        <div class="row">
            <div class="col-xl-6"></div>
            <div class="col-xl-6">
                <h4 class="py-5">Цены на сеансы флоатинга</h4>
                <div class="row justify-content-around pb-5">
                    {% for service in services %}
                    <div class="price-item col-4 py-5">
                        <p><i class="{{ service.icon }}"></i></p>
                        <h5>{{service.name}}</h5>
                        <h6>{{service.price}}<span>/час</span></h6>
                        <p class="info">{{service.info|linenumbers|linebreaksbr}}</p>
                        <!-- <button type="button" class="btn btn-secondary px-4 py-2 mt-5">Записаться</button> -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="effect" class="container">
        <div class="row justify-content-around">
            {% for effect in effects %}
            <div class="card p-0 mb-5">
                <img src="{{ effect.image.url }}" class="card-img-top" alt="{{effect.name}}">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{effect.name}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{effect.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="how-it-works" class="container-fluid p-0">
        <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for howitwork in howitworks %}
                <div class="carousel-item {% if howitwork == howitworks.0 %} active {% endif %}"
                    data-bs-interval="10000">
                    <img src="{{howitwork.image.url}}" class="d-block w-100" alt="{{howitwork.name}}">
                    <div class="carousel-caption d-md-block">
                        <h5>{{howitwork.name}}</h5>
                        <p>{{howitwork.text}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div id="contacts" class="container p-0 my-5">
        <h3>Контакты</h3>
        {% for contact in contacts %}
        <div class="row d-flex">
            <div class="col-lg-4 contact_info">
                <ul class="p-0">
                    <li><span>Адрес: </span>{{contact.address}}</li>
                    <li><span>E-mail: </span>{{contact.email}}</li>
                    <li><span>Телефон: </span>{{contact.phone}}</li>
                    <li><a target="_blank"
                            href="https://api.whatsapp.com/send/?phone={{contact.whatsapp}}&text&app_absent=0"><i
                                class="fab fa-whatsapp"></i> wa.me/{{contact.whatsapp}}</a>
                    </li>
                    <li><a target="_blank" href="{{contact.instagram}}"><i class="fab fa-instagram"></i>
                            @mister_mozg</a></li>
                    <li><span>Режим работы: </span><br>{{contact.schedule|safe}}</li>
                </ul>
            </div>
            <div class="col-lg-8 map">
                {{contact.map|safe}}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}