{% load static %}

<header class="container-fluid">
    <div class="container py-4">
        <div class="d-flex justify-content-between">
            <img src="{% static 'images/main_logo.png' %}">
            <div class="d-flex align-items-center justify-content-between">
                <div class="m-3">
                    <a href="">Главная</a>
                </div>
                <div class="m-3">
                    <a href="">Цены</a>
                </div>
                <div class="m-3">
                    <a href="">Отзывы</a>
                </div>
                <div class="m-3">
                    <a href="">Контакты</a>
                </div>
            </div>
        </div>
    </div>
</header>