{% extends 'core/base.html' %}

{% block title %}
    Цены
{% endblock title %}

{% block content %}
    <div class="services">
        <h1>Флоатинг</h1>
        {% for service in services %}
            <p>{{ service.name }}: {{ service.duration }} мин. ({{ service.description }}) {{ service.price }} руб.</p>
        {% endfor %}
    </div>
    <div class="promotions">
        {% for promotion_type in promotion_types %}
            <h1>{{ promotion_type.1 }}</h1>
            {% for promotion in promotions %}
                {% if promotion.type == promotion_type.0 %}
                    <p>{{promotion.name}}: {{ promotion.duration }} мин. ({{ promotion.description }})</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}