{% extends 'core/base.html' %}

{% block title %}
    Цены
{% endblock title %}

{% block content %}
    <div class="services">
        {% for service in services %}
            <p>{{ service.name }}: {{ service.duration }} мин. ({{ service.description }}) {{ service.price }} руб.</p>
        {% endfor %}
    </div>
    <div class="promotions">
        {% for promotion in promotions %}
            {% for promotion_type in promotion.type %}
                <p>{{ promotion_type.name }}: {{ promotion_type.duration }} мин. ({{ promotion_type.description }})</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}